<div class="cc-barra">
  <div class="cc-container">
    <a href="http://casadocodigo.com.br" class="cc-logo">
      <%= image_tag "casa-do-codigo.png", alt: "Logo da editora Casa do Código" %>
    </a>
    <h1>Procurando mais livros de programação? <br>Conheça a
      <a href="http://casadocodigo.com.br">editora Casa do Código</a>.
    </h1>
  </div>
</div>

<header>
  <div class="container">
    <p id=chamada>Está na hora de entender a fundo o que acontece em uma requisição web</p>

    <hgroup>
      <h1>Desconstruindo a web</h1>
      <h2>Conheça a fundo como funciona uma requisição web</h2>
    </hgroup>

    <%= image_tag "capa-livro.png", alt: "Capa do livro" %>

    <div id=logos>
    </div>

    <div class=compreja>
      <a class="nicebutton" href="#">Comprar o livro na Casa do Código</a>
      <span>ou baixe alguns tópicos abertos abaixo</span>
    </div>
  </div>
</header>

<section id=descricao>
  <div id=texto>
    <p>No dia a dia do trabalho com desenvolvimento de software, especialmente
desenvolvimento de aplicações para a internet, não é incomum se deparar com
situações em que decisões equivocadas foram tomadas ou que discussões
aconteceram apenas pela falta de uma melhor compreensão de como a internet
realmente funciona, eu mesmo presenciei alguns desses casos. Em um determinado
momento decidi que começaria a estudar o que realmente acontece quando uma URL é
digitada no navegador e a tecla <i>enter</i> é pressionada. Separando cada parte de
uma requisição para entender o que acontecia em cada um dos pedaços, percebi que
existiam estudos sobre algumas dessas peças específicas (redes, protocolos,
frameworks, servidores web) mas não existia nada que mostrasse, do começo ao
fim, o que acontece enquanto eu estou em frente ao meu computador aguardando a
barra de progresso encher por completo. E assim surgiu esse livro, o estudo de
um desenvolvedor para entender o que realmente acontece entre o <i>enter</i> do
teclado e a página totalmente carregada no seu computador.</p>
  </div>
  <div id=publico>
    <h1>Para quem é o livro</h1>
    <p>Esse livro foi feito para quem tem uma visão superficial de como a internet
funciona mas sabe que o navegador entende o que você digitou, envia para o
sistema operacional, que por sua vez vai dar um jeito de enviar para a internet
até o servidor de destino, processando a requisição e enviando de volta.</p>

<p>O leitor deve saber o que é um protocolo de rede, saber qual o papel do sistema
operacional e do servidor web, entender como funciona uma aplicação web e porque
ela usaria um <i>framework</i>.</p>

<p>O livro possui conteúdo tanto para iniciantes, que apenas sabem da existencia de
coisas como o Nginx, como para usuários mais avançados que querem <strong>entender como</strong>
uma requisição vai chegar em uma aplicação web, passando pelo servidor web e o
<i>framework</i>.</p>
    <p></p>
  </div>
</section>

<section id=conteudo>
  <h1 class=container>Conteúdo</h1>

  <ol>
    <li>Primeiro capítulo
      <ol>
	<li>Primeiro subtítulo</li>
	<li>Segundo subtítulo</li>
	<li>Terceiro subtítulo</li>
	<li>Quarto subtítulo</li>
      </ol>
    </li>

    <li>Segundo capítulo
      <ol>
	<li>Primeiro subtítulo</li>
	<li>Segundo subtítulo</li>
	<li>Terceiro subtítulo</li>
	<li>Quarto subtítulo</li>
      </ol>
    </li>

    <li>Terceiro capítulo
      <ol>
	<li>Primeiro subtítulo</li>
	<li>Segundo subtítulo</li>
	<li>Terceiro subtítulo</li>
	<li>Quarto subtítulo</li>
      </ol>
    </li>

    <li>Quarto capítulo
      <ol>
	<li>Primeiro subtítulo</li>
	<li>Segundo subtítulo</li>
	<li>Terceiro subtítulo</li>
	<li>Quarto subtítulo</li>
      </ol>
    </li>

    <li>Quinto capítulo
      <ol>
	<li>Primeiro subtítulo</li>
	<li>Segundo subtítulo</li>
	<li>Terceiro subtítulo</li>
	<li>Quarto subtítulo</li>
      </ol>
    </li>

    <li>Sexto capítulo
      <ol>
	<li>Primeiro subtítulo</li>
	<li>Segundo subtítulo</li>
	<li>Terceiro subtítulo</li>
	<li>Quarto subtítulo</li>
      </ol>
    </li>

    <li>Sétimo capítulo
      <ol>
	<li>Primeiro subtítulo</li>
	<li>Segundo subtítulo</li>
	<li>Terceiro subtítulo</li>
	<li>Quarto subtítulo</li>
      </ol>
    </li>

    <li>Oitavo capítulo
      <ol>
	<li>Primeiro subtítulo</li>
	<li>Segundo subtítulo</li>
	<li>Terceiro subtítulo</li>
	<li>Quarto subtítulo</li>
      </ol>
    </li>

    <li>Nono capítulo
      <ol>
	<li>Primeiro subtítulo</li>
	<li>Segundo subtítulo</li>
	<li>Terceiro subtítulo</li>
	<li>Quarto subtítulo</li>
      </ol>
    </li>

    <li>Décimo capítulo
      <ol>
	<li>Primeiro subtítulo</li>
	<li>Segundo subtítulo</li>
	<li>Terceiro subtítulo</li>
	<li>Quarto subtítulo</li>
      </ol>
    </li>

    <li>Conclusão</li>
    <li>Continuando os estudos</a></li>
    <li>Referências</a></li>
    <li>Índice Remissivo</li>
  </ol>

  <div class=compreja>
    <a class="nicebutton" href="#">Comprar o livro na Casa do Código</a>
  </div>
</section>

<div id=tectura>
  <p><a href="http://www.tectura.com.br">Continue a discussão no fórum do Tectura junto com os autores!</a></p>
</div>

<section id=autores>
  <h1>Sobre o Autor</h1>

  <div class=autor>
    <h2>Willian Molinari (e/ou PotHix)</h2>
    <img src="//www.gravatar.com/avatar/2f09c56a60d46c8ad42fc646af73a6bb?s=90" alt="Foto de Willian Molinari, também conhecido como PotHix">
    <p>Começou a trabalhar profissionalmento com desenvolvimento de software em 2006 e desde então tem trabalhado com diversas linguagens de programação.
      É entusiasta de tecnologias Open Source e sempre que possível contribui para algum projeto. No tempo livre, entre outras coisas, faz jogos com Javascript
    e HTML5. É palestrante, tendo palestrado em mais de 6 estados do Brasil, em conferências nacionais e internacionais.</p>
  </div>

  <div id=falecom>
    <p>Fale com o autor: <a href="mailto:pothix@pothix.com">pothix@pothix.com</a></p>
    <p>Professor, quer usar o livro em sala de aula? Entre em contato.</p>
  </div>
</section>

<footer>
  <div class=container>
    <hgroup>
      <h1>Desconstruindo a web</h1>
      <h2>Conheça a fundo como funciona uma requisição web</h2>
    </hgroup>

    <ul>
      <li><a href="http://www.casadocodigo.com.br/#">Comprar o livro</a></li>
      <li class=maior><a href="http://pothix.com1">Site do autor</a></li>


      <li><a href="mailto:pothix@pothix.com">Fale com o autor</a></li>

      <li><a href="#conteudo">Conteúdo</a></li>
      <li><a href="#publico">Para quem é o livro</a></li>
      <li class=maior><a href="#autores">Sobre o autor</a></li>

      <li><a id="versao" href="#">Forçar Site Desktop</a></li>
    </ul>

    <div id=logos>
    </div>

    <%= image_tag "capa-livro.png", alt: "Capa do livro" %>
  </div>
</footer>
